body {
    background-color: #ccc;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 10px;
}

div.videoPlayer h1 {
    text-align: center;
}


div.videoPlayer {
    margin: 0 auto;
    width: 630px;
    height: 360px;
    border: 4px solid red;
    background-color: #fff;
}


div.videoLeft {
    width: 400px;
    min-height: 200px;
    padding: 0 0 10px 0;
    float: left;
    background-color: #ccc;
}







div.videoRight {
    float: right;
    width: 215px;
    height: 290px;
    overflow: auto;
    background-color: #000;
    padding: 5px;
}

div.videoRight a {
    color: #fff;
    display: block;
    padding: 5px;
}
div.videoRight a:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

div.videoRight a p.title {
    font-size: 16px;
    margin: 0 0 5px 0;
    font-weight: bold;
}

div.videoRight a p.desc {
    font-size: 11px;
}

div.videoRight a:hover p.title {
    text-decoration: underline;
}

div.videoRight a img {
    width: 30%;
    float: left;
    margin: 0 10px 5px 0;
    border: 5px solid #000;
}





div.videoControls {
    text-align: center;
}


input#volume {
    width: 40px;
}


progress {
    width: 100%;
}

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

    width: 250px;
    height: 20px;

    position: relative;
    display: block;
}

.progress-bar > span {
    background-color: blue;
    border-radius: 2px;

    display: block;
    text-indent: -9999px;
}