<html ng-app="beersApp">
<head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="script.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="BeersCtrl">

    <h2>Angular.js JSON Fetching Example</h2>

    <p>{{ message }}</p>


    <table class="table table-striped">
        <tr>
            <th>Beer name</th>
            <th>Brewery</th>
            <th>Type of beer</th>
        </tr>

        <tr>
            <td><input name="name" type='text' ng-model='searchBeerName'  /></td>
            <td><input name="from" type='text' ng-model='searchBreweryName'  /></td>
            <td><input name="type" type='text' ng-model='searchBeerType' /></td>
        </tr>

        <tr ng-repeat="beer in beers | orderBy: 'beer_name' | filter:{beer_name:searchBeerName, brewery_name:searchBreweryName, beer_type:searchBeerType} ">
            <td>{{ beer.beer_name }}</td>
            <td>{{ beer.brewery_name }}</td>
            <td>{{ beer.beer_type }}</td>
        </tr>

    </table>


</body>
</html>